header {
  color: white;
  min-height: $header-default-height;
  background-color: $main-dark-color;
  display: flex;
  align-items: center;
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__logo {
      width: 71px;
      vertical-align: middle;
    }
    nav {
      display: flex;
      align-items: center;
      gap: 0 40px;
    }
    .language-select {
      display: flex;
      gap: 10px;
    }
    .header__nav-link {
      display: flex;
      align-items: center;
      gap: 0 10px;
      color: white;
    }
  }
}
